<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <!-- aqui importamos os plugins que vamos usar na simulação -->
        <plugin
            filename="gz-sim-pose-publisher-system"
            name="gz::sim::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <static_publisher>true</static_publisher>
            <static_update_frequency>1</static_update_frequency>
        </plugin>

        <plugin
            filename="gz-sim-sensors-system"
            name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>

        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find neo_robotino_sim)/config/motor_velocity_controller.yaml</parameters>
        </plugin>
    </gazebo>



    <!-- configs do LIDAR -->
    <gazebo reference="lidar_link">
        <sensor name='gpu_lidar' type='gpu_lidar'>
            <topic> /lidar </topic>
            <!-- 
                solução para mudar o frame_id da mensagem
                https://github.com/gazebosim/gz-sensors/pull/195
                porém não funciona nesa versão do gazebo
            -->
            <frame_id>lidar_link</frame_id>
            <!-- 
                essa issue fala mais sobre isso e da a solução
                https://github.com/gazebosim/gz-sensors/issues/384
            -->
            <ignition_frame_id>lidar_link</ignition_frame_id>

            <update_rate> 10 </update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>640</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.1415926535897931</min_angle>
                        <max_angle>3.1415926535897931</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>0.01</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </lidar>
            <always_on>1</always_on>
        </sensor>
    </gazebo>

    <xacro:macro name="add_sensor_plugins" params="suffix">    
        <gazebo reference="dist_sensor_${suffix}_link">
            <sensor name='distance_sensor_${suffix}' type='gpu_lidar'>
                
                <topic>/dist_sensor_${suffix} </topic>
                <frame_id>dist_sensor_${suffix}_link</frame_id>
                <ignition_frame_id>dist_sensor_${suffix}_link</ignition_frame_id>

                <update_rate>10</update_rate>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>10</samples>
                            <resolution>1</resolution>
                            <min_angle>-0.05</min_angle>
                            <max_angle>0.05</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>1</samples>
                            <resolution>0.01</resolution>
                            <min_angle>0</min_angle>
                            <max_angle>0</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.04</min>
                        <max>0.01</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </lidar>
                <always_on>1</always_on>
            </sensor>
        </gazebo>
    </xacro:macro>

    <!-- chama macro para criar os plugins -->
    <xacro:add_sensor_plugins suffix="0"/>
    <xacro:add_sensor_plugins suffix="1"/>
    <xacro:add_sensor_plugins suffix="2"/>
    <xacro:add_sensor_plugins suffix="3"/>
    <xacro:add_sensor_plugins suffix="4"/>
    <xacro:add_sensor_plugins suffix="5"/>
    <xacro:add_sensor_plugins suffix="6"/>
    <xacro:add_sensor_plugins suffix="7"/>
    <xacro:add_sensor_plugins suffix="8"/>
    

</robot>